<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Oauth Clients</title>
    <script th:inline="javascript">

          function sendDelete(url) {
              if(!confirm("Do you really want to delete this Client?")) {
                  console.log("cancel delete");
                  return false;
              }
              var xhttp = new XMLHttpRequest();
              xhttp.open("DELETE", url, true);
              xhttp.onload = function () {
                  let responseURL = xhttp.responseURL;
                  console.log("Redirecting to:", responseURL);
                  window.location.replace("/admin/clients");
              };
              xhttp.send();
          }
    </script>
</head>
<body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<div class="container">
    <!-- Content here -->
    <div class="row jumbotron m-4">
        <div class="col"><h1 class="display-4">Authorization manager</h1></div>
        <a th:href="@{/admin/logout}">Logout</a>
    </div>
    <div class="row">
        <div class="col-2">
            <ul class="nav flex-column">
                <li class="nav-item"><a class="nav-link" th:href="@{/admin/dashboard}">Home</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/admin/clients}">Clients</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/admin/organizations}">Organizations</a></li>
                <li class="nav-item"><a class="nav-link"th:href="@{/admin/roles}">Roles</a></li>
                <li class="nav-item"><a class="nav-link"th:href="@{/admin/users}">Your Profile</a></li>
            </ul>
        </div>
        <div class="col-sm">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="@{/admin/clients/{id}">Client Details</a>
                </li>
                <li class="nav-item" th:if="${client.id != null}">
                    <a class="nav-link" th:href="@{/admin/clients/{id}/organizations(id=${client.id})}">Add to Organization</a>
                </li>
                <li class="nav-item" th:if="${client.id != null}">
                    <a class="nav-link" th:href="@{/admin/clients/{id}/users(id=${client.id})}">Set User Role</a>
                </li>
            </ul>

            <div class="mb-3"><h3>Client Update Page</h3></div>
            <div class="mb-3">
                <div th:switch="${message}">
                    <div th:case="'Success'" class="alert alert-success">
                        <strong>Success!</strong> Client has been created successfyly.
                    </div>
                    <div th:case="'Failed'" class="alert alert-danger">
                        <strong>Failure!</strong> Failed to update client
                    </div>
                </div>
            </div>
            <div class="mb-3" th:if="${client.id}">
                <button th:with="url = @{/admin/clients/{id}(id=${client.id})}" class="btn btn-primary mb-3" th:onclick="sendDelete([[${url}]])">Delete this Client</button>
            </div>
            <form action="#" th:action="@{/admin/clients}" th:object="${client}" method="post">
                <input type="hidden" th:field="*{id}"/>
                <div class="mb-3 error text-danger" th:if="${#fields.hasErrors}">
                    <span >Failed to update OAuth client.
                        Please check the data validation errors.</span>
                    <ul>
                        <li th:each="err : ${#fields.allErrors()}" th:text="${err}"></li>
                    </ul>

                </div>

                <div class="mb-3 row" th:if="*{#strings.isEmpty(id)}">
                    <label for="clientId" class="col-sm-4 col-form-label">Client-id (uuid + input)</label>
                    <div class="col-sm-4">
                        <label for="clientIdUuid">uuid</label>
                        <input type="text" class="form-control" id="clientIdUuid" th:field="*{clientIdUuid}" size="40" placeholder="UUID prepend" readonly/>
                    </div>

                    <div class="col-sm-4">
                        <label for="clientId">Enter client-id subpart</label>
                        <label th:if="${#fields.hasErrors('clientId')}" th:errors="*{clientId}" class="text-danger">Client id error - enter a client id</label>
                        <input type="text" class="form-control" id="clientId" th:field="*{clientId}" placeholder="unique client id" />
                    </div>
                </div>

                <div class="mb-3 row" th:if="*{not #strings.isEmpty(id)}">
                    <label for="clientIdAfterUpdate" class="col-sm-4 col-form-label">Client id</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="clientIdAfterUpdate" th:field="*{clientId}" placeholder="unique client id" readonly/>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="clientIssuedAt" class="col-sm-4 col-form-label">Client issued at</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="clientIssuedAt" th:field="*{clientIdIssuedAt}" />
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="clientSecret" class="col-sm-4 col-form-label">Client secret</label>
                    <div class="col-sm-7">
                        <p th:if="${#fields.hasErrors('clientSecret')}" class="text-danger">Please enter client secret</p>
                        <input type="text" class="form-control" id="clientSecret" th:field="*{clientSecret}" th:readonly="*{clientSecret}"/>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="clientSecretExpiresAt" class="col-sm-4 col-form-label">Client secret expires at</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="clientSecretExpiresAt" th:field="*{clientSecretExpiresAt}" />
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="clientName" class="col-sm-4 col-form-label">Client name</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="clientName" th:field="*{clientName}" readonly />
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-4 col-form-label">Client Authentication Methods</label>
                    <div class="col-sm-5">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" th:checked="${#strings.containsIgnoreCase(client.clientAuthenticationMethods, 'CLIENT_SECRET_BASIC')}" name="clientAuthenticationMethods" th:value="CLIENT_SECRET_BASIC"/>
                            <label  class="form-check-label" th:text="CLIENT_SECRET_BASIC"></label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" th:checked="${#strings.containsIgnoreCase(client.clientAuthenticationMethods, 'CLIENT_SECRET_POST')}" name="clientAuthenticationMethods" th:value="CLIENT_SECRET_POST"/>
                            <label class="form-check-label" th:text="CLIENT_SECRET_POST"></label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" th:checked="${#strings.containsIgnoreCase(client.clientAuthenticationMethods, 'CLIENT_SECRET_JWT')}" name="clientAuthenticationMethods" th:value="CLIENT_SECRET_JWT"/>
                            <label class="form-check-label" th:text="CLIENT_SECRET_JWT"></label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" th:checked="${#strings.containsIgnoreCase(client.clientAuthenticationMethods, 'PRIVATE_KEY_JWT')}" name="clientAuthenticationMethods" th:value="PRIVATE_KEY_JWT"/>
                            <label class="form-check-label" th:text="PRIVATE_KEY_JWT"></label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" th:checked="${#strings.containsIgnoreCase(client.clientAuthenticationMethods, 'NONE')}" name="clientAuthenticationMethods" th:value="NONE"/>
                            <label class="form-check-label" th:text="NONE"></label>
                        </div>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label class="col-sm-4 col-form-label">Authorization grant types:</label>
                    <div class="col-sm-5">
                        <p th:if="${#fields.hasErrors('authorizationGrantTypes')}" class="text-danger">Please select at least 1 of Authorization grant type</p>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" th:checked="${#strings.containsIgnoreCase(client.authorizationGrantTypes, 'AUTHORIZATION_CODE')}" name="authorizationGrantTypes" th:value="AUTHORIZATION_CODE"/>
                            <label class="form-check-label" th:text="AUTHORIZATION_CODE"></label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" th:checked="${#strings.containsIgnoreCase(client.authorizationGrantTypes, 'REFRESH_TOKEN')}" name="authorizationGrantTypes" th:value="REFRESH_TOKEN"/>
                            <label class="form-check-label" th:text="REFRESH_TOKEN"></label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" th:checked="${#strings.containsIgnoreCase(client.authorizationGrantTypes, 'CLIENT_CREDENTIALS')}" name="authorizationGrantTypes" th:value="CLIENT_CREDENTIALS"/>
                            <label class="form-check-label" th:text="CLIENT_CREDENTIALS"></label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" th:checked="${#strings.containsIgnoreCase(client.authorizationGrantTypes, 'PASSWORD')}" name="authorizationGrantTypes" th:value="PASSWORD"/>
                            <label class="form-check-label" th:text="PASSWORD"></label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" th:checked="${#strings.containsIgnoreCase(client.authorizationGrantTypes, 'JWT_BEARER')}" name="authorizationGrantTypes" th:value="JWT_BEARER"/>
                            <label class="form-check-label" th:text="JWT_BEARER"></label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" th:checked="${#strings.containsIgnoreCase(client.authorizationGrantTypes, 'DEVICE_CODE')}" name="authorizationGrantTypes" th:value="DEVICE_CODE"/>
                            <label class="form-check-label" th:text="DEVICE_CODE"></label>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-4 col-form-label">Scopes:</label>
                    <div class="col-sm-5">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" th:checked="${#strings.containsIgnoreCase(client.scopes, 'OPENID')}" name="scopes" th:value="OPENID"/>
                            <label class="form-check-label" th:text="OPENID"></label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" th:checked="${#strings.containsIgnoreCase(client.scopes, 'PROFILE')}" name="scopes" th:value="PROFILE"/>
                            <label class="form-check-label" th:text="PROFILE"></label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" th:checked="${#strings.containsIgnoreCase(client.scopes, 'EMAIL')}" name="scopes" th:value="EMAIL"/>
                            <label class="form-check-label" th:text="EMAIL"></label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" th:checked="${#strings.containsIgnoreCase(client.scopes, 'ADDRESS')}" name="scopes" th:value="ADDRESS"/>
                            <label class="form-check-label" th:text="ADDRESS"></label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" th:checked="${#strings.containsIgnoreCase(client.scopes, 'PHONE')}" name="scopes" th:value="PHONE"/>
                            <label class="form-check-label" th:text="PHONE"></label>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-text">
                                <label class="form-check-label">Custom (csv)</label>
                            </div>
                            <input class="form-control" type="text" th:field="*{customScopes}" aria-label="Text input with checkbox"/>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="redirectUris" class="col-sm-4 col-form-label">Client redirect uris *(required)</label>
                    <div class="col-sm-5">
                        <p th:if="${#fields.hasErrors('redirectUris')}" class="text-danger">Please enter a redirect uri</p>
                        <input class="form-control" id="redirectUris" type="text" th:field="*{redirectUris}" />
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="postLogoutRedirectUris" class="col-sm-4 col-form-label">Client post redirect uris</label>
                    <div class="col-sm-5">
                        <input class="form-control" type="text" id="postLogoutRedirectUris" th:field="*{postLogoutRedirectUris}" />
                    </div>
                </div>

                <div class="mb-3 row" th:if="*{not #strings.isEmpty(id)}">
                    <label class="col-sm-4 col-form-label">Client Settings</label>
                    <div class="col-sm-5">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" th:checked="*{clientSettings.requireAuthorizationConsent}" name="clientSettings.requireAuthorizationConsent"/>
                            <label class="form-check-label">Require authorization consent</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" th:checked="*{clientSettings.requireProofKey}" name="clientSettings.requireProofKey"/>
                            <label class="form-check-label">Require proof key</label>
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-text">
                                <label class="form-check-label">Jwk set url</label>
                            </div>
                            <input class="form-control" type="text" th:field="*{clientSettings.jwkSetUrl}" aria-label="jwk set url checkbox"/>
                        </div>
                    </div>
                </div>

                <div class="mb-3 row" th:if="*{not #strings.isEmpty(id)}">
                    <label class="col-sm-4 col-form-label">Token Settings</label>
                    <div class="col-sm-6">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" th:checked="*{tokenSettings.reuseRefreshTokens}" name="tokenSettings.reuseRefreshTokens"/>
                            <label class="form-check-label">Reuse refresh token</label>
                        </div>
                        <div class="input-group mb-3">
                            <label th:if="${#fields.hasErrors('tokenSettings.authorizationCodeTimeToLive')}" th:errors="*{tokenSettings.authorizationCodeTimeToLive}" class="text-danger" th:text="${err}"></label>
                            <div class="input-group-text">
                                <label for="tokenSettings.authorizationCodeTimeToLive" class="form-label">Authorization code time to live (in seconds)</label>
                            </div>
                            <input type="text" class="form-control" id="tokenSettings.authorizationCodeTimeToLive" th:field="*{tokenSettings.authorizationCodeTimeToLive}" />
                        </div>
                        <div class="input-group mb-3">
                            <label th:if="${#fields.hasErrors('tokenSettings.accessTokenTimeToLive')}" th:errors="*{tokenSettings.accessTokenTimeToLive}" class="text-danger" th:text="${err}"></label>
                            <div class="input-group-text">
                                <label for="tokenSettings.accessTokenTimeToLive" class="form-label">Access token time to live (in seconds)</label>
                            </div>
                            <input type="text" class="form-control" id="tokenSettings.accessTokenTimeToLive" th:field="*{tokenSettings.accessTokenTimeToLive}" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Access token format</label>
                            <select th:field="*{tokenSettings.accessTokenFormat}">
                                <option value="Select One">Select One</option>
                                <option th:value="*{tokenSettings.accessTokenFormat.SELF_CONTAINED.getValue()}" th:text="*{tokenSettings.accessTokenFormat.SELF_CONTAINED.getValue()}">
                                </option>
                                <option th:value="*{tokenSettings.accessTokenFormat.REFERENCE.getValue()}" th:text="*{tokenSettings.accessTokenFormat.REFERENCE.getValue()}">
                                </option>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <label th:if="${#fields.hasErrors('tokenSettings.deviceCodeTimeToLive')}" th:errors="*{tokenSettings.deviceCodeTimeToLive}" class="text-danger" th:text="${err}"></label>
                            <div class="input-group-text">
                                <label for="tokenSettings.deviceCodeTimeToLive" class="form-label">Device code time to live (in seconds)</label>
                            </div>
                            <input type="text" class="form-control" id="tokenSettings.deviceCodeTimeToLive" th:field="*{tokenSettings.deviceCodeTimeToLive}" />
                        </div>
                        <div class="input-group mb-3">
                            <label th:if="${#fields.hasErrors('tokenSettings.refreshTokenTimeToLive')}" th:errors="*{tokenSettings.refreshTokenTimeToLive}" class="text-danger" th:text="${err}"></label>
                            <div class="input-group-text">
                                <label for="tokenSettings.refreshTokenTimeToLive" class="form-label">Refresh token time to live (in seconds)</label>
                            </div>
                            <input type="text" class="form-control" id="tokenSettings.refreshTokenTimeToLive" th:field="*{tokenSettings.refreshTokenTimeToLive}" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Id token signature algorithm</label>
                            <select th:field="*{tokenSettings.idTokenSignatureAlgorithm}">
                                <option value="Select One">Select One</option>
                                <option th:value="RS256" th:text="RS256">
                                </option>
                                <option th:value="RS384" th:text="RS384">
                                </option>
                                <option th:value="RS512" th:text="RS512">
                                </option>
                                <option th:value="ES256" th:text="ES256">
                                </option>
                                <option th:value="ES384" th:text="ES384">
                                </option>
                                <option th:value="ES512" th:text="ES512">
                                </option>
                                <option th:value="PS256" th:text="PS256">
                                </option>
                                <option th:value="PS384" th:text="PS384">
                                </option>
                                <option th:value="PS512" th:text="PS512">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="mb-3 row" th:if="*{id}">
                    <label class="col-sm-4 col-form-label">Token Mediation</label>
                    <div class="col-sm-5">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="mediateToken" th:field="*{mediateToken}" />
                            <label class="form-label">Select for token mediation</label>
                        </div>
                    </div>
                </div>

                <div class="mb-3 row" th:if="*{id == null}">
                    <span>(Once you create your OAuth2 client, client settings and token settings config will show.)</span>
                </div>

                <div class="mb-3 row">
                    <button type="submit" class="btn btn-primary m-3">Submit</button>
                    <button type="reset" class="btn btn-secondary m-3">Reset</button>
                </div>
            </form>
        </div>
    </div>

        <div class="row justify-content-center m-4 bg-light">
            <div class="col-4">Authorization manager web application 2024</div>
            <div class="col-4"></div>
        </div>

    </div>


</body>
</html>