<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Oauth Clients</title>
</head>
<body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<div class="container">
    <!-- Content here -->
    <div class="row jumbotron m-4">
        <div class="col"><h1 class="display-4">Authorization manager</h1></div>

    </div>
    <div class="row">
        <div class="col-2">
            <ul class="nav flex-column">
                <li class="nav-item"><a class="nav-link" th:href="@{/admin/dashboard}">Home</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/admin/clients}">Clients</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/admin/organizations}">Organizations</a></li>
                <li class="nav-item"><a class="nav-link"th:href="@{/admin/roles}">Roles</a></li>
            </ul>
        </div>
        <div class="col">
            <div class="mb-3"><h3>Client Creation Page</h3></div>
            <div class="mb-3">
                <div th:switch="${message}">
                    <div th:case="'Success'" class="alert alert-success">
                        <strong>Success!</strong> Client has been created successfyly.
                    </div>
                    <div th:case="'error'" class="alert alert-danger">
                        <strong>Failure!</strong> Failed to create client
                        <span th:if="${#fields.hasErrors}" class="text-danger">Please check the data validation failed</span>
                    </div>
                </div>
            </div>
            <form action="#" th:action="@{/admin/clients/create}" th:object="${client}" method="post">
                <input type="hidden"  th:field="*{id}"/>
                <div class="mb-3 error" th:if="${#fields.hasErrors}">
                    <span >Failed to create OAuth client.
                        Please check the data validation errors.</span>
                </div>
                <div class="mb-3">
                    <label for="clientId" class="form-label">Client-id</label>
                    <p th:if="${#fields.hasErrors('clientId')}">Please enter a unique client-id</p>
                    <label th:if="${#fields.hasErrors('clientId')}" th:errors="*{clientId}" class="text-danger">Client id error - enter a unique client id</label>

                    <input type="text" class="form-control" id="clientId" th:field="*{clientId}" placeholder="unique client id" />
                </div>
                <div class="mb-3">
                    <label for="clientIssuedAt" class="form-label">Client issued at</label>
                    <input type="text" class="form-control" id="clientIssuedAt" th:field="*{clientIdIssuedAt}" />
                </div>
                <div class="mb-3">
                    <label for="clientSecret" class="form-label">Client secret</label>
                    <p th:if="${#fields.hasErrors('clientSecret')}" class="text-danger">Please enter client secret</p>
                    <input type="text" class="form-control" id="clientSecret" th:field="*{clientSecret}" />
                </div>
                <div class="mb-3">
                    <label for="clientSecretExpiresAt" class="form-label">Client secret expires at</label>
                     <input type="text" class="form-control" id="clientSecretExpiresAt" th:field="*{clientSecretExpiresAt}" />
                </div>
                <div class="mb-3">
                    <label for="clientName" class="form-label">Client name</label>
                    <input type="text" class="form-control" id="clientName" th:field="*{clientName}" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Client Authentication Methods</label>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" th:checked="${#strings.containsIgnoreCase(client.clientAuthenticationMethods, 'CLIENT_SECRET_BASIC')}" name="clientAuthenticationMethods" th:value="CLIENT_SECRET_BASIC"/>
                        <label  class="form-check-label" th:text="CLIENT_SECRET_BASIC"></label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" th:checked="${#strings.containsIgnoreCase(client.clientAuthenticationMethods, 'CLIENT_SECRET_POST')}" name="clientAuthenticationMethods" th:value="CLIENT_SECRET_POST"/>
                        <label class="form-check-label" th:text="CLIENT_SECRET_POST"></label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" th:checked="${#strings.containsIgnoreCase(client.clientAuthenticationMethods, 'CLIENT_SECRET_JWT')}" name="clientAuthenticationMethods" th:value="CLIENT_SECRET_JWT"/>
                        <label class="form-check-label" th:text="CLIENT_SECRET_JWT"></label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" th:checked="${#strings.containsIgnoreCase(client.clientAuthenticationMethods, 'PRIVATE_KEY_JWT')}" name="clientAuthenticationMethods" th:value="PRIVATE_KEY_JWT"/>
                        <label class="form-check-label" th:text="PRIVATE_KEY_JWT"></label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" th:checked="${#strings.containsIgnoreCase(client.clientAuthenticationMethods, 'NONE')}" name="clientAuthenticationMethods" th:value="NONE"/>
                        <label class="form-check-label" th:text="NONE"></label>
                    </div>

                </div>
                <div class="mb-3">
                    <label class="form-label">Authorization grant types:</label>
                    <p th:if="${#fields.hasErrors('authorizationGrantTypes')}" class="text-danger">Please select at least 1 of Authorization grant type</p>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" th:checked="${#strings.containsIgnoreCase(client.authorizationGrantTypes, 'AUTHORIZATION_CODE')}" name="authorizationGrantTypes" th:value="AUTHORIZATION_CODE"/>
                        <label class="form-check-label" th:text="AUTHORIZATION_CODE"></label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" th:checked="${#strings.containsIgnoreCase(client.authorizationGrantTypes, 'REFRESH_TOKEN')}" name="authorizationGrantTypes" th:value="REFRESH_TOKEN"/>
                        <label class="form-check-label" th:text="REFRESH_TOKEN"></label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" th:checked="${#strings.containsIgnoreCase(client.authorizationGrantTypes, 'CLIENT_CREDENTIALS')}" name="authorizationGrantTypes" th:value="CLIENT_CREDENTIALS"/>
                        <label class="form-check-label" th:text="CLIENT_CREDENTIALS"></label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" th:checked="${#strings.containsIgnoreCase(client.authorizationGrantTypes, 'PASSWORD')}" name="authorizationGrantTypes" th:value="PASSWORD"/>
                        <label class="form-check-label" th:text="PASSWORD"></label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" th:checked="${#strings.containsIgnoreCase(client.authorizationGrantTypes, 'JWT_BEARER')}" name="authorizationGrantTypes" th:value="JWT_BEARER"/>
                        <label class="form-check-label" th:text="JWT_BEARER"></label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" th:checked="${#strings.containsIgnoreCase(client.authorizationGrantTypes, 'DEVICE_CODE')}" name="authorizationGrantTypes" th:value="DEVICE_CODE"/>
                        <label class="form-check-label" th:text="DEVICE_CODE"></label>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Scopes:</label>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" th:checked="${#strings.containsIgnoreCase(client.scopes, 'OPENID')}" name="scopes" th:value="OPENID"/>
                        <label class="form-check-label" th:text="OPENID"></label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" th:checked="${#strings.containsIgnoreCase(client.scopes, 'PROFILE')}" name="scopes" th:value="PROFILE"/>
                        <label class="form-check-label" th:text="PROFILE"></label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" th:checked="${#strings.containsIgnoreCase(client.scopes, 'EMAIL')}" name="scopes" th:value="EMAIL"/>
                        <label class="form-check-label" th:text="EMAIL"></label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" th:checked="${#strings.containsIgnoreCase(client.scopes, 'ADDRESS')}" name="scopes" th:value="ADDRESS"/>
                        <label class="form-check-label" th:text="ADDRESS"></label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" th:checked="${#strings.containsIgnoreCase(client.scopes, 'PHONE')}" name="scopes" th:value="PHONE"/>
                        <label class="form-check-label" th:text="PHONE"></label>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-text">
                            <label class="form-check-label">Custom (csv)</label>
                            <input class="form-check-input" type="checkbox" aria-label="custom scope"/>
                        </div>
                        <input class="form-control" type="text" th:field="*{customScopes}" aria-label="Text input with checkbox"/>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="redirectUris" class="form-label">Client redirect uris *(required)</label>
                    <p th:if="${#fields.hasErrors('redirectUris')}" class="text-danger">Please enter a redirect uri</p>
                    <input class="form-control" id="redirectUris" type="text" th:field="*{redirectUris}" />
                </div>
                <div class="mb-3">
                    <label for="postLogoutRedirectUris" class="form-label">Client post redirect uris</label>
                    <input class="form-control" type="text" id="postLogoutRedirectUris" th:field="*{postLogoutRedirectUris}" />
                </div>

                <div class="mb-3">
                    <span>(Once you create your OAuth client, client settings and token settings config will show.)</span>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary mb-3">Submit</button>
                    <button type="reset" class="btn btn-secondary mb-3">Reset</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row justify-content-center m-4 bg-light">
        <div class="col-4">Authorization manager web application 2024</div>
        <div class="col-4"></div>
    </div>

</div>


</body>
</html>