
<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head>
    <title>Admin dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>
<body>

<h2>Admin dashboard</h2>
<p>This is for managing Authorization server.</p>

<header>
    <h2>Admin dashboard</h2>
</header>

<section>
    <nav>
        <ul>
            <li><a th:href="@{/admin/clients/createForm}">Create Client</a> </li>
            <li><a th:href="@{/admin/clients}">Clients</a></li>

        </ul>
    </nav>

    <article>
        <form action="#" th:action="@{/admin/clients/create}" th:object="${client}" method="post">
            <input type="hidden"  th:field="*{id}"/>
            <p>client Id: <input type="text" th:field="*{clientId}" /></p>
            <p>client issued at: <input type="text" th:field="*{clientIdIssuedAt}" /></p>
            <p>client secret: <input type="text" th:field="*{clientSecret}" /></p>
            <p>client secret expires at: <input type="text" th:field="*{clientSecretExpiresAt}" /></p>
            <p>client name: <input type="text" th:field="*{clientName}" /></p>
            <p>client Authenticate method:
                <input type="checkbox" th:checked="${#lists.contains(client.clientAuthenticationMethods, 'CLIENT_SECRET_BASIC')}" name="clientAuthenticationMethods" th:value="CLIENT_SECRET_BASIC"/>
                <label th:text="CLIENT_SECRET_BASIC"></label>

                <input type="checkbox" th:checked="${#lists.contains(client.clientAuthenticationMethods, 'CLIENT_SECRET_POST')}" name="clientAuthenticationMethods" th:value="CLIENT_SECRET_POST"/>
                <label th:text="CLIENT_SECRET_POST"></label>

                <input type="checkbox" th:checked="${#lists.contains(client.clientAuthenticationMethods, 'CLIENT_SECRET_JWT')}" name="clientAuthenticationMethods" th:value="CLIENT_SECRET_JWT"/>
                <label th:text="CLIENT_SECRET_JWT"></label>

                <input type="checkbox" th:checked="${#lists.contains(client.clientAuthenticationMethods, 'CLIENT_SECRET_BASIC')}" name="clientAuthenticationMethods" th:value="CLIENT_SECRET_BASIC"/>
                <label th:text="CLIENT_SECRET_BASIC"></label>

                <input type="checkbox" th:checked="${#lists.contains(client.clientAuthenticationMethods, 'PRIVATE_KEY_JWT')}" name="clientAuthenticationMethods" th:value="PRIVATE_KEY_JWT"/>
                <label th:text="PRIVATE_KEY_JWT"></label>

                <input type="checkbox" th:checked="${#lists.contains(client.clientAuthenticationMethods, 'NONE')}" name="clientAuthenticationMethods" th:value="NONE"/>
                <label th:text="NONE"></label>

            </p>
            <p>Authorization grant types:
                <input type="checkbox" th:checked="${#lists.contains(client.authorizationGrantTypes, 'AUTHORIZATION_CODE')}" name="authorizationGrantTypes" th:value="AUTHORIZATION_CODE"/>
                <label th:text="AUTHORIZATION_CODE"></label>
                <input type="checkbox" th:checked="${#lists.contains(client.authorizationGrantTypes, 'REFRESH_TOKEN')}" name="authorizationGrantTypes" th:value="REFRESH_TOKEN"/>
                <label th:text="REFRESH_TOKEN"></label>
                <input type="checkbox" th:checked="${#lists.contains(client.authorizationGrantTypes, 'CLIENT_CREDENTIALS')}" name="authorizationGrantTypes" th:value="CLIENT_CREDENTIALS"/>
                <label th:text="CLIENT_CREDENTIALS"></label>
                <input type="checkbox" th:checked="${#lists.contains(client.authorizationGrantTypes, 'PASSWORD')}" name="authorizationGrantTypes" th:value="PASSWORD"/>
                <label th:text="PASSWORD"></label>
                <input type="checkbox" th:checked="${#lists.contains(client.authorizationGrantTypes, 'JWT_BEARER')}" name="authorizationGrantTypes" th:value="JWT_BEARER"/>
                <label th:text="JWT_BEARER"></label>
                <input type="checkbox" th:checked="${#lists.contains(client.authorizationGrantTypes, 'DEVICE_CODE')}" name="authorizationGrantTypes" th:value="DEVICE_CODE"/>
                <label th:text="DEVICE_CODE"></label>

            </p>
            <p>Scopes:
                <input type="checkbox" th:checked="${#lists.contains(client.scopes, 'OPENID')}" name="scopes" th:value="OPENID"/>
                <label th:text="OPENID"></label>
                <input type="checkbox" th:checked="${#lists.contains(client.scopes, 'PROFILE')}" name="scopes" th:value="PROFILE"/>
                <label th:text="PROFILE"></label>
                <input type="checkbox" th:checked="${#lists.contains(client.scopes, 'EMAIL')}" name="scopes" th:value="EMAIL"/>
                <label th:text="EMAIL"></label>
                <input type="checkbox" th:checked="${#lists.contains(client.scopes, 'ADDRESS')}" name="scopes" th:value="ADDRESS"/>
                <label th:text="ADDRESS"></label>
                <input type="checkbox" th:checked="${#lists.contains(client.scopes, 'PHONE')}" name="scopes" th:value="PHONE"/>
                <label th:text="PHONE"></label>
                <label>custom scopes:</label>
                <input type="text" name="scopes"/>
            </p>

            <p>client redirectUris: <input type="text" th:field="*{redirectUris}" /></p>
            <p>client post logout redirect Uris: <input type="text" th:field="*{postLogoutRedirectUris}" /></p>
            <p>client scopes: <input type="text" th:field="*{scopes}" /></p>
            <p>client settings: <input type="text" th:field="*{clientSettings}" /></p>
            <p>token settings: <input type="text" th:field="*{tokenSettings}" /></p>

            <p><button type="submit">Submit</button> <button type="reset">Reset</button></p>
        </form>
    </article>
</section>

<footer>
    <p>Footer</p>
</footer>

</body>
</html>

