<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Oauth Clients</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div th:insert="~{header :: jumbotron}"></div>
    <div class="row p-3">
        <div class="col-2 admin-sidebar" th:with="activeLink=Organizations" th:insert="~{leftnav :: menu}"></div>
        <div class="col-sm p-2 pe-4 m-1">
            <div>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link"
                           th:href="@{/admin/organizations/{id}(id=${organization.id})}">Organization</a>
                    </li>
                    <li class="nav-item" th:if="${organization.id}">
                        <a class="nav-link active"
                           th:href="@{/admin/organizations/{organizationId}/roles(organizationId=${organization.id})}"
                           th:text="${organization.name}+' Roles'"></a>
                    </li>
                    <li class="nav-item" th:if="${organization.id}">
                        <a class="nav-link " aria-current="page"
                           th:href="@{/admin/organizations/{organizationId}/users(organizationId=${organization.id})}">User
                            association</a>
                    </li>
                </ul>
            </div>

            <div class="col-sm m-3">
                <div th:if="${page != null}">
                    <div>
                        <ul class="pagination" th:if="${page}" th:with="pageSize=${param.size}">
                            <li  class="page-item" th:classappend="${page.number <= 0} ? 'disabled'">
                                <a class="page-link" th:href="@{?(page=${page.number-1},__(${#strings.isEmpty(pageSize)} ? '' : ('size=' + ${pageSize}))__)}" tabindex="-1">Previous</a>
                            </li>

                            <li class="page-item" th:classappend="${page.totalPages <= (page.number+1)} ? 'disabled'">
                                <a class="page-link" th:href="@{?(page=${page.number+1},__(${#strings.isEmpty(pageSize)} ? '' : ('size=' + ${pageSize}))__)}">Next Page</a>
                            </li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-info btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Page size
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" th:href="@{?(page=${page.number},(size='2'))}">2</a>
                            <a class="dropdown-item" th:href="@{?(page=${page.number},(size='5'))}">5</a>
                            <a class="dropdown-item" th:href="@{?(page=${page.number},(size='40'))}">40</a>
                            <a class="dropdown-item" th:href="@{?(page=${page.number},(size='50'))}">50</a>
                        </div>
                    </div>
                    <div class="col-sm-6 mt-4">
                        <ol class="list-group list-group-numbered">

                            <li class="list-group-item" th:each="role : ${page.content}">
                                <span th:if="${role.organizationId != defaultOrganizationId}" th:text="${role.name}"></span>
                                <a th:text="${role.name}" th:href="@{/admin/roles/{id}(id=${role.id})}" th:if="${defaultOrganizationId == role.organizationId}" ></a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="admin-footer">
        <div th:insert="~{footer :: copyright}"></div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>
